# Acceso a datos en Python (similar Django)

Diseño de base de datos en SQLite. Base de datos tienda, tabla clientes.
Diseña un programa en Python que permita acceder a la tabla de clientes.
    
    Insertar - C
    Seleccionar - R
    Update - U
    Eliminar - D

Para utilizar SQLite3 en Python, primero deberás importar el módulo sqlite3 y luego crear un objeto de conexión para conectarnos a la base de datos. Este nos permitirá ejecutar las sentencias SQL.
Un objeto de conexión se crea utilizando la función connect ():

    con = sqlite3.connect('tienda.db')
    Se creará un nuevo archivo llamado “tienda.db” donde se almacenará nuestra base de datos.

Para ejecutar sentencias de SQLite en Python, necesita un objeto cursor.
Para ejecutar sentencias de SQLite3, primero se establece una conexión y luego se crea un objeto cursor utilizando el objeto de conexión de la siguiente manera:

    con = sqlite3.connect('mydatabase.db')
    cursorObj = con.cursor()

Ahora podemos usar el objeto cursor para llamar al método execute () para ejecutar cualquier consulta SQL.


Cuando creas una conexión con SQLite, un archivo de base de datos se crea automáticamente si no existe ya. Este archivo de base de datos se crea en el disco, ademas, también podemos crear una base de datos en la RAM usando
(:memory:) con la función de conexión. Esta base de datos se llama base de datos en memoria.


Para crear una tabla en SQLite3, puede usar la consulta CREATE TABLE en el método execute ().

    Se crea el objeto de conexión.
    El objeto cursor se crea utilizando el objeto de conexión
    Usando el objeto del cursor, se ejecuta el método execute con la consulta CREATE TABLE como parámetro

In [10]:
import sqlite3
from sqlite3 import Error

def sql_connection():
    #Método para establecer la conexión
    try:
        con = sqlite3.connect('tienda.db')
        return con
    except Error:
        print(Error)

def sql_table(con):
    #Metodo que  crea un objeto cursor para ejecutar la sentencia de create table
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE clientes(id integer PRIMARY KEY AUTOINCREMENT, nombre text, apellido1 text , apellido2 text, dni text)")
    con.commit()#guarda todos los cambios que hacemos

#Llamamos a ambos métodos
con = sql_connection()#Establecemos conexión/Creamos base de datos
sql_table(con)#Creamos la tabla de clientes

Para poder ver nuestra base de datos nos descargamos un navegador de la base de datos de sqlite:
https://sqlitebrowser.org/dl/

Una vez lo tenemos, abrimos el archivo 'tienda.db' que se habrá guardado en nuestro proyecto.
Ahí podemos ver nuestra base de datos con la tabla clientes en ella.

También podemos instalar la extensión SQLite Manager en Chrome para poder verla.

## Insert

In [11]:
#Creamos el insert para introducir datos en la tabla
con = sql_connection()#Establecemos conexión/Creamos base de datos
def sql_insert(con, datos):
    cursorObj = con.cursor()
    cursorObj.execute('INSERT INTO clientes(nombre, apellido1, apellido2, dni) VALUES(?, ?, ?, ?)', datos)
    #usamos el signo de interrogación (?) Como argumento para cada valor
    con.commit()

Ahora vamos a insertar algunos datos en la tabla.
Primero los debemos guardar en una variable, y luego ejecutar nuestro insert con esos datos:

In [12]:
datos = ('Victor', 'Pizarro', 'Rubio', '11111111P')#Datos que vamos a insertar en la tabla
sql_insert(con, datos)#Ejecutamos el insert con nuestros datos

##### cursorObj.execute("INSERT INTO clientes(nombre, apellido1, apellido2, dni) VALUES('Victor', 'Pizarro', 'Rubio', '11111111P')")

Este sería el equivalente sin interrogaciones. Sin embargo así podemos facilitar la introducción de datos

In [13]:
#Ejecutamos el siguiente código para introducir más datos
datos = ('Pepe', 'Escudero', 'Gil', '22222222L')
datos2 = ('Jose', 'Sanz', 'Mateos', '33333333T')

sql_insert(con, datos)
sql_insert(con, datos2)

## Select

Para seleccionar datos de una tabla en particular utilizamos la sentencia select.
La instrucción SELECT se ejecuta dentro del método execute del objeto cursor.

Si deseas seleccionar solamente algunas columnas de una tabla:
select column1, column2 from tables_name

In [14]:
def sql_select(con):
    #metodo que nos muestra todos los datos de todos los clientes
    cursorObj = con.cursor()
    cursorObj.execute('SELECT * FROM clientes') #select * para mostrar todos los datos de los clientes
    rows = cursorObj.fetchall() #Utilizamos el método fetchall() para obtener los datos seleccionados
    for row in rows:
        print(row)

sql_select(con)

(1, 'Victor', 'Pizarro', 'Rubio', '11111111P')
(2, 'Pepe', 'Escudero', 'Gil', '22222222L')
(3, 'Jose', 'Sanz', 'Mateos', '33333333T')

In [15]:
"""
Supongamos que queremos buscar los datos de un cliente dado un id:
"""
def sql_select_id(con,valor):
    cursorObj = con.cursor()
    query = "SELECT * FROM clientes WHERE id = "+str(valor)
    #Esto mismo de realizar la query a parte lo podriamos hacerlo en cualquier otro metodo(CRUD) para poder meter los valores deseados
    cursorObj.execute(query)
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
print("Mostrar datos buscando por ip:")
sql_select_id(con,2)

Mostrar datos buscando por ip:
(2, 'Pepe', 'Escudero', 'Gil', '22222222L')

In [16]:
"""
Podemos realizar esto con la columna que queramos, y los datos que queramos.
Por ejemplo, supongamos que queremos buscar el dni de un cliente dado su nombre:
"""
def sql_select_nombre(con,valor):
    cursorObj = con.cursor()
    sentencia = "SELECT dni FROM clientes WHERE nombre = '"+valor+"'" #Necesitamos meter el valor entre comillas para poder compararlo, pues es un String
    cursorObj.execute(sentencia)
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
print("Mostrar dni de Pepe:")
sql_select_nombre(con,"Pepe")

Mostrar dni de Pepe:
('22222222L',)

## Update

Del mismo modo que hemos visto en para el select, podríamos crear otras funciones update según lo que queramos modificar,
utilizando una variables dentro de nuestra query.

In [17]:
def sql_update(con):
    cursorObj = con.cursor()
    cursorObj.execute('UPDATE clientes SET nombre = "Javier" where id = 1')
    con.commit()

sql_update(con)

sql_select(con)#Para visualizarlo

(1, 'Javier', 'Pizarro', 'Rubio', '11111111P')
(2, 'Pepe', 'Escudero', 'Gil', '22222222L')
(3, 'Jose', 'Sanz', 'Mateos', '33333333T')

## Delete

Del mismo modo que hemos visto en para el select, podríamos crear otras funciones delete según lo que queramos modificar,
utilizando una variables dentro de nuestra query.

In [20]:
def sql_delete(con):
    cursorObj = con.cursor()
    cursorObj.execute('DELETE FROM clientes where id = 1')
    con.commit()

sql_delete(con)

sql_select(con)#Para visualizarlo

(2, 'Pepe', 'Escudero', 'Gil', '22222222L')
(3, 'Jose', 'Sanz', 'Mateos', '33333333T')